:root {

    --BoxSize: 60px

}

#GameHolder{

	display: flex;
	
}

#ChessHolder{

    width: calc(var(--BoxSize) * 8);
    height: calc(var(--BoxSize) * 8);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    background-color: gray;
    border: solid;


}
#CaptureHolder{

	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
	
	width: calc(var(--BoxSize) * 4);
	
}
.CaptureBox{

	width: calc(var(--BoxSize) * 4);
	height: calc(var(--BoxSize) * 4);
	background-color: gray;
	border: solid;
	border-left: none;

	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
	
}

.CaptureBox[team="black"] {

	border-bottom: none;
	
}
.CaptureBox[team="white"] {

	border-top: none;
	
}

.cell{

    width: var(--BoxSize);
    height: var(--BoxSize);


}

.white {
    background-color: #EEEED2;
    color: #769656;
}
.black {
    background-color: #769656;
    color: #EEEED2;
}

.text{

    offset-position: left;

}

.piece{

    width: var(--BoxSize);
    height: var(--BoxSize);

    offset-position: left;


}