:root {

    --BoxSize: 60px

}

#GameHolder{

	display: flex;
	
}

#ChessHolder{

    width: calc(var(--BoxSize) * 8);
    height: calc(var(--BoxSize) * 8);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    background-color: gray;
    border: solid;


}
#CaptureHolder{

	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
	
	width: calc(var(--BoxSize) * 4);
	height: calc(var(--BoxSize) * 8);

	border: solid;
	border-left: none;
	
}
.CaptureBox{

	width: calc(var(--BoxSize) * 4);
	height: calc(var(--BoxSize) * 4);
	background-color: gray;

	display: flex;
	flex-wrap: wrap;
    align-content: flex-start;
	
}

@media (max-width: 600px) {

	:root {

		--BoxSize: 40px	
		
	}
	
	#GameHolder {

		flex-direction: column;
		
	}

	#CaptureHolder {

		height: calc(var(--BoxSize) * 4);
		width: calc(var(--BoxSize) * 8);

		flex-direction: row;

		border: solid;
		border-top: none;
		
	}
	
}

.cell{

    width: var(--BoxSize);
    height: var(--BoxSize);


}

.white {
    background-color: #EEEED2;
    color: #769656;
}
.black {
    background-color: #769656;
    color: #EEEED2;
}

.text{

    offset-position: left;

}

.piece{

    width: var(--BoxSize);
    height: var(--BoxSize);

    offset-position: left;


}

#AIPlayer {

	width: 150px;
	margin-bottom: 15px;
	
}

#AIPlayer > input {
	margin-bottom: 0px
}

#AIPlayer > button {

	width: 150px;
	margin-bottom: 5px;
	
}